* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  input,
  textarea,
  button {
    font-family: "Inter", sans-serif;
  }
  
  .Cform {
    max-width: 500px;
    margin: 0 auto;
    background:#a5e2fa;
    padding: 10px 20px;
    /* margin-top: 50px; */
    border-radius: 5px;
    box-shadow: 1px 2px 10px #ddd;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Cform > h1 {
    margin-bottom: 30px;
  }
  
  .Cform > input, textarea {
    padding: 20px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    border: 1px solid lightgray;
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
  
  }
  
  .Cform > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196);
  }
  
  .Cform > textarea {
    height: 150px;
    max-width: 400px;
    min-height: 100px;
  }
  
  .Cform > label {
    padding-bottom: 10px;
    color: rgb(0, 0, 32);
    font-weight: bold;
  }
  
  .Cform > button {
    padding: 20px;
    border: none;
    background-color: rgb(2, 2, 110);
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
  }
  
  .Cform > button:hover {
    background-color: rgb(0, 0, 196);
  }
  
  .comment {
      width: 90%;
      font-size: 28px;
      margin-top: 50px;
      padding: 10px 20px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 1px 2px 10px #ddd;
      margin: 0 auto;
  }
  .AppComment{
    margin-top: 10px;
  }
  .comment > input{
    margin-top: 5px;
    
  }
  .button-delete-c,
  .button-edit-c {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      margin-right: 10px;
    }
    .nama{
        font-size:18px
      }
      .com{
        font-size:18px
      }
